.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  font-family: "SF-Medium";
  font-size: 12px;
  line-height: 14px;
  color: #ee5c51;
  text-transform: uppercase;
}

.weekdays {
  display: flex;
}

.weekdays p {
  font-family: "SF-Medium";
  font-size: 9px;
  line-height: 11px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
}

.days div {
  display: flex;
}

.days p {
  width: 20px;
  height: 20px;
  font-family: "SF-Medium";
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
}

.days p.prevDate,
.days p.nextDate {
  opacity: 0;
}

.days p.today {
  color: #ffffff;
  background: #ee5c51;
  border-radius: 50%;
}

.days p.day:hover {
  border: 1px #ee5c51 solid;
  border-radius: 50%;
}

.days div p:first-of-type,
.days div p:last-of-type {
  color: rgba(0, 0, 0, 0.5);
}
