.button {
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  background: #0071e3;
  color: #fff;
  font-family: "SF-Regular";
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
